<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=10">
        <meta charset="UTF-8">
        <title>Library App</title>
    </head>
    <body>
        Before
        <br>
        <%-body%>
        <br>
        After
    </body>
</html>