<h2>Create new author</h2>
<form action="/authors" method="post">
    <%- include('../partials/errorMessage.ejs') %>
    <br>
    <%- include('../partials/form_field.ejs') %>
    <a href="/">Cancel</a>
    <button type="submit">Create</button>
</form>


